$def with (*a, **kw)
$ tr = ctx.tr
$ tile = ctx.mui.tile
$ url = ctx.url
$var bodyattr= 'class="bg-darkBlue"'
$var extrajs = ['/static/start.js']
<!--begin index -->
$:ctx.mui.menubar(ctx, ctx.site.menu)
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container tile-area tile-area-scheme-dark">
<div class="container">
    <div class="jumbotron">
        <header class="margin20 no-margin-left no-margin-right">
            <h1 class="text-shadow metro-title text-light">
           $(tr(ctx.site.title))
            </h1>
       </header>

    </div>
</div>



<hr>
<footer>
    <div class="bottom-menu-wrapper">
        <ul class="horizontal-menu compact">
            <li><a>&copy; 2016 GHID - Tsinghua University</a></li>
            <li class="place-right"><a href="#">Privacy</a></li>
            <li class="place-right"><a href="#">Legal</a></li>
            <li class="place-right"><a href="#">Links</a></li>
            <li class="place-right"><a href="#">Help</a></li>
            <li class="place-right"><a href="#">Feedback</a></li>
        </ul>
    </div>
</footer>

</div> <!-- /container -->

<!--end-index -->
